body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dp{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-comp{
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: bisque;
  width: 500px;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: medium;
  border-style: outset;
  
}